body {
    background-color: rgb(218, 248, 249);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#imgprecos {
    height: 600px;
}

@media (min-width: 430px) {
    #imgprecos {
        width: 430px;
        height: 500px;
    }
}

ul {
    list-style: none;
    text-align: center;
}
    
li {
    font-family: Impact;
    color: #11114E;
    padding: 80px;
    font-size: 30px;
}

a {
    text-decoration: none;
    color: #11114E;
}
