body {
  display: inline;
  justify-content: space-around;
  background-color: rgb(218, 248, 249);
  margin: auto;
  text-align: center;
  align-items: center;
}

ul {
  list-style: none;
}

li {
  font-family: Impact;
  color: #11114E;
  padding: 50px;
  font-size: 30px;
}

a {
  text-decoration: none;
  color: #11114E;
}

#logo {
  margin: auto;
  align-items: center;
  text-align: center;
  display: flex;
  justify-content: center;
}

.slogan {
  font-size: 50px;
  font-family: Arial;
  color: #11114E;
  animation: flutuacao 2s ease-in-out infinite;
}

@keyframes flutuacao {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0px);
  }
}
